@font-face {
  font-family: 'Trench Slab';
  src: url('./TrenchSlab-Regular.woff2') format('woff2'),
       url('./TrenchSlab-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
